@model SIS.Tech.Models.Empresas.EmpresaViewModel

@{
    ViewData["Title"] = "Detalhe da Contatos";

    var codEmpresa = @Model.Empresa.CodEmpresa;

    var sindicalizada = @Model.Empresa.Sindicalizada;
    var qtdeFunc = @Model.Empresa.QuantidadeFUncionarios;
    var ativo = @Model.Empresa.Ativo;
    var devedor = @Model.Empresa.Ativo;
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/fonts/flag-icons.css" />
    <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.js"></script>
    <script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="~/vendor/libs/cleave-zen/cleave-zen.js"></script>
    <script src="~/vendor/libs/select2/select2.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}
@section PageScripts {
    <script src="~/js/app-empresa-details.js"></script>
    <script src="~/js/controllers/app-empresa-details-contact.js"></script>
    <script src="~/js/controllers/sindmasks.js"></script>

}

<div class="row">
    <!-- Customer-detail Sidebar -->
    <div class="col-xl-4 col-lg-5 col-md-5 order-1 order-md-0">
        <!-- Customer-detail Card -->
        <!-- Customer-detail Card -->
        <div class="card mb-6">

            <div class="card-body pt-3">

                <div class="customer-avatar-section">
                    <div class="d-flex align-items-center flex-column">

                        @if (sindicalizada)
                        {
                            <img class="img-fluid rounded mb-4" src="~/img/avatars/1.png" height="60" width="60" alt="User avatar" />
                        }
                        else
                        {
                            <img class="img-fluid rounded mb-4" src="~/img/avatars/4.png" height="60" width="60" alt="User avatar" />
                        }

                        <div class="customer-info text-center mb-6">
                            <h5 class="mb-0">@Model.Empresa.NomeFantasia</h5>
                            <span>Empresa ID #@Model.Empresa.CodEmpresa</span><br />
                            <span>Data Cadastro: @Model.Empresa.DataCadastro.ToString("dd/MM/yyyy")</span>

                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around flex-wrap mb-6 gap-0 gap-md-3 gap-lg-4">
                    <div class="d-flex align-items-center gap-4 me-5">
                        <div class="avatar">
                            <div class="avatar-initial rounded bg-label-primary">
                                <i class="icon-base ti tabler-users icon-lg"></i>
                            </div>
                        </div>
                        <div>
                            <h5 class="mb-0">@Model.Empresa.QuantidadeFUncionarios</h5>
                            <span>Funcionários</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-4">
                        <div class="avatar">
                            <div class="avatar-initial rounded bg-label-primary">

                                @if (qtdeFunc <= 50)
                                {
                                    <i class="icon-base ti tabler-user-down icon-lg"></i>
                                }
                                else
                                {
                                    <i class="icon-base ti tabler-user-check icon-lg"></i>
                                }

                            </div>
                        </div>
                        <div>

                            @if (qtdeFunc <= 50)
                            {
                                <h5 class="mb-0">5</h5>
                                <span class="badge bg-label-success">Contribuintes</span>
                            }
                            else
                            {
                                <h5 class="mb-0">5</h5>
                                <span class="badge bg-label-danger">Contribuintes</span>
                            }



                        </div>
                    </div>
                </div>

                <div class="info-container">
                    <h5 class="pb-2 border-bottom text-capitalize mt-2 mb-2">Dados</h5>

                    <ul class="list-unstyled mb-6">
                        <li class="mb-2">
                            <span class="h6 me-1">Razão Social:</span>
                            <span>
                                <div class="card-big-text">
                                    @Model.Empresa.RazaoSocial
                                </div>
                            </span>
                        </li>

                        <li class="mb-2">
                            <span class="h6 me-1">Cnpj:</span>
                            <span>@Model.Empresa.Cnpj</span>
                        </li>

                        <li class="mb-2">
                            <span class="h6 me-1">Tipo:</span>
                            <span>
                                @Model.Empresa.TipoPessoa.Descricao
                            </span>
                        </li>

                        <li class="mb-2">
                            <span class="h6 me-1">Segmento:</span>
                            <span>
                                @Model.Empresa.RamoAtividade.Descricao
                            </span>
                        </li>

                        <li class="mb-2">

                            <span class="h6 me-1">Situação:</span>
                            @if (ativo)
                            {
                                <span class="badge bg-label-success">Ativa</span>
                            }
                            else
                            {
                                <span class="badge bg-label-danger">Inativa</span>
                            }

                        </li>

                        <li class="mb-2">
                            <span class="h6 me-1">Data Abertura:</span>
                            <span>
                                @Model.Empresa.DataCadastro.ToString("dd/MM/yyyy")
                            </span>
                        </li>

                    </ul>

                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:;" class="btn btn-primary w-100" data-bs-target="#editUser" data-bs-toggle="modal">Editar Empresa</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Customer-detail Card -->
        <div class="card mb-4 bg-gradient-primary">
            <div class="card-body">
                <div class="row justify-content-between mb-4">
                    <div class="col-md-12 col-lg-7 col-xl-12 col-xxl-7 text-center text-lg-start text-xl-center text-xxl-start order-1  order-lg-0 order-xl-1 order-xxl-0">
                        <h5 class="card-title text-white text-nowrap mb-4">@* Upgrade to premium *@</h5>
                        <p class="card-text text-white">@* Upgrade customer to premium membership to access pro features. *@</p>
                    </div>
                    <span class="col-md-12 col-lg-5 col-xl-12 col-xxl-5 text-center mx-auto mx-md-0 mb-2"><img src="~/img/illustrations/rocket.png" class="w-px-75 m-2" alt="3dRocket" /></span>
                </div>
                <button class="btn btn-white text-primary w-100 fw-medium shadow-xs" data-bs-target="#upgradePlanModal" data-bs-toggle="modal">Sindpetshop-SP em construção</button>
            </div>
        </div>

        <!-- /Plan Card -->
    </div>
    <!--/ Customer Sidebar -->
    <!-- Customer Content -->
    <div class="col-xl-8 col-lg-7 col-md-7 order-0 order-md-1">
        <!-- Customer Pills -->
        <div class="nav-align-top">
            <ul class="nav nav-pills flex-column flex-md-row mb-6 row-gap-2 flex-wrap">
                <li class="nav-item">
                    <a class="nav-link" href="/Empresa/DetailsOverview?codEmpresa=@Model.Empresa.CodEmpresa"><i class="icon-base ti tabler-user icon-sm me-1_5"></i>Dados Principais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Empresa/DetailsContacts?codEmpresa=@Model.Empresa.CodEmpresa"><i class="icon-base ti tabler-map-pin icon-sm me-1_5"></i>Contato & Endereço</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Empresa/CustomerDetailsSecurity"><i class="icon-base ti tabler-files icon-sm me-1_5"></i>Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Empresa/CustomerDetailsSecurity"><i class="icon-base ti tabler-gavel icon-sm me-1_5"></i>Jurídico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Empresa/CustomerDetailsNotifications"><i class="icon-base ti tabler-bell icon-sm me-1_5"></i>Notifications</a>
                </li>
            </ul>
        </div>
        <!--/ Customer Pills -->
        <!-- Address accordion -->

        <div class="card card-action mb-6">
            <div class="card-header align-items-center py-6">
                <h5 class="card-action-title mb-0">Contatos</h5>
                @* <div class="card-action-element">
                    <button class="btn btn-sm btn-label-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewAddress">Add new address</button>
                </div> *@
            </div>

            <div class="card-body">

                <div class="accordion accordion-flush accordion-arrow-left" id="ecommerceBillingAccordionAddress">


                    @if (Model.Empresa != null)
                    {
                        if (Model.Empresa.Contato != null)
                        {
                            if (Model.Empresa.Contato.lstContatos.Count > 0)
                            {
                                foreach (var item in Model.Empresa.Contato.lstContatos)
                                {
                                    <div class="accordion-item border-bottom">

                                        <div class="accordion-header d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap" id="headingHome">

                                            <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#target_@item.CodContato" aria-expanded="false" aria-controls="headingHome" role="button">
                                                <span>
                                                    <span class="d-flex gap-2 align-items-baseline">
                                                        <span class="h6 mb-1">@item.TipoContato.Descricao</span>
                                                        <span class="badge bg-label-primary">(@item.Ddd) @item.Telefone</span>
                                                    </span>
                                                    <span class="mb-0">@item.Email</span>
                                                </span>
                                            </a>
                                            <div class="d-flex gap-4 p-6 p-sm-0 pt-0 ms-1 ms-sm-0">
                                                <a href="javascript:void(0);"><i class="icon-base ti tabler-edit text-body icon-md"></i></a>
                                                <a href="javascript:void(0);"><i class="icon-base ti tabler-trash text-body icon-md"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                        }
                    }

                </div>
            </div>
        </div>
        <!-- Address accordion -->
        <!-- payment accordion -->
        <div class="card card-action mb-6">
            <div class="card-header align-items-center py-6">
                <h5 class="card-action-title mb-0">Endereços</h5>
                @* <div class="card-action-element">
                    <button class="btn btn-sm btn-label-primary" type="button" data-bs-toggle="modal" data-bs-target="#addNewCCModal">Add payment methods</button>
                </div> *@
            </div>
            <div class="card-body">

                <div class="accordion accordion-flush accordion-arrow-left" id="ecommerceBillingAccordionPayment">

                    @if (Model.Empresa != null)
                    {
                        if (Model.Empresa.Endereco != null)
                        {
                            if (Model.Empresa.Endereco.lstEnderecos.Count > 0)
                            {
                                foreach (var item in Model.Empresa.Endereco.lstEnderecos)
                                {
                                    <div class="accordion-item border-bottom">

                                        <div class="accordion-header d-flex justify-content-between align-items-center flex-wrap flex-sm-nowrap" id="headingPaymentMaster">

                                            <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#target_@item.CodEndereco" aria-expanded="false" aria-controls="headingPaymentMaster" role="button">
                                                <span class="accordion-button-information d-flex align-items-center gap-4">                                                    
                                                    <span class="d-flex flex-column">
                                                        <span class="h6 mb-1">@item.TipoEndereco.Descricao</span>
                                                        <span class="mb-0">@item.Logradouro, @item.Numero</span>
                                                    </span>
                                                </span>
                                            </a>
                                            <div class="d-flex gap-4 p-6 p-sm-0 pt-0 ms-1 ms-sm-0">
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#editCCModal"><i class="icon-base ti tabler-edit text-body icon-md"></i></a>
                                                <a href="javascript:void(0);"><i class="icon-base ti tabler-trash text-body icon-md"></i></a>                                                
                                            </div>
                                        </div>

                                        <div id="target_@item.CodEndereco" class="accordion-collapse collapse" data-bs-parent="#ecommerceBillingAccordionPayment">
                                            <div class="accordion-body d-flex align-items-baseline flex-wrap flex-xl-nowrap flex-sm-nowrap flex-md-wrap">
                                                <table class="table table-sm table-borderless text-nowrap small">
                                                    <tr>
                                                        <td class="w-50">Endereço:</td>
                                                        <td class="fw-medium text-heading">@item.Logradouro</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Número:</td>
                                                        <td class="fw-medium text-heading">@item.Numero</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cep:</td>
                                                        <td class="fw-medium text-heading">@item.Cep</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Complemento:</td>
                                                        <td class="fw-medium text-heading">@item.Complemento</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bairro:</td>
                                                        <td class="fw-medium text-heading">@item.Bairro</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cidade</td>
                                                        <td class="fw-medium text-heading">@item.Cidade &nbsp; - &nbsp; @item.Estado </td>
                                                    </tr>
                                                </table>
                                                <table class="table table-sm table-borderless text-nowrap">
                                                    <tr>
                                                        <td class="w-50"></td>
                                                        <td class="fw-medium text-heading"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="fw-medium text-heading"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="fw-medium text-heading"></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="fw-medium text-heading d-flex align-items-center gap-2">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td class="fw-medium text-heading d-flex align-items-center gap-2">
                                                          
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        }
                    }


                   

                </div>
            </div>
        </div>
    </div>
    <!--/ Customer Content -->
</div>
