@using SIS.Tech.Models.Login
@model ForgotPasswordViewModels

@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Esqueceu a senha?";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css" />
}

@section PageScripts {
    <script src="~/js/pages-auth.js"></script>
}

@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">

    <!-- Logo -->
    <a href="https://sindpetshop.org.br/" class="app-brand auth-cover-brand">

        <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>

        <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>

    </a>
    <!-- /Logo -->

    <div class="authentication-inner row m-0">

        <!-- /Left Text -->

        <div class="d-none d-xl-flex col-xl-8 p-0">

            <div class="auth-cover-bg d-flex justify-content-center align-items-center">

                <img src="~/img/illustrations/auth-forgot-password-illustration-light.png" alt="auth-forgot-password-cover" class="my-5 auth-illustration d-lg-block d-none" data-app-light-img="illustrations/auth-forgot-password-illustration-light.png" data-app-dark-img="illustrations/auth-forgot-password-illustration-dark.png" />

                <img src="~/img/illustrations/bg-shape-image-light.png" alt="auth-forgot-password-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png" />

            </div>

        </div>
        <!-- /Left Text -->
        <!-- Forgot Password -->

        <div class="d-flex col-12 col-xl-4 align-items-center authentication-bg p-sm-12 p-6">

            <div class="w-px-400 mx-auto mt-12 mt-5">

                <h4 class="mb-1">
                    Esqueceu a senha? 🔒
                </h4>

                <p class="mb-6">
                    Digite seu e-mail e enviaremos instruções para redefinir sua senha
                </p>

                @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formAuthentication", @Class = "mb-6", @autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="mb-6 form-control-validation">

                        <label for="email" class="form-label">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Digite seu e-mail", maxlength = "150", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    </div>

                    <button class="btn btn-primary d-grid w-100">Enviar link de redefinição</button>

                }

                <div class="text-center">

                    <a href="~/Auth/Login" class="d-flex justify-content-center">

                        <i class="icon-base ti tabler-chevron-left scaleX-n1-rtl me-1_5"></i>

                        Voltar para o login

                    </a>

                </div>

            </div>
        </div>
        <!-- /Forgot Password -->
    </div>
</div>
